doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='theme-color' content='#000000')
    meta(name='description' content="Play the famous drinking game online for free with your friends! No registration required!")
    meta(name='robots' content='index, nofollow')
    title Play King's Cup Online Free
  body
    noscript You need to enable JavaScript to run this app.
    #root
    footer#footer
    // JavaScript at end of body for optimized loading
