@use '../colors';

.card {
  margin: 0 1em;

  img {
    z-index: 3;
    width: 15vw;
    @media only screen and (max-width: 700px) {
      width: 42vw;
    }
    max-width: 300px;
    &.enabled {
      animation-name: pulse-card;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      border-radius: 1em;
    }

    &.enabled:hover {
      cursor: pointer;
    }
  }

  @keyframes pulse-card {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 0 colors.$success_0;
    }

    60% {
      transform: scale(1.07);
      box-shadow: 0px 0px 10px colors.$success_1;
    }

    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 colors.$main_0;
    }
  }
}
