@use '../colors';

#drinkers-popup {
  z-index: 10000;
  position: fixed;
  top: 20vh;
  left: 30vw;
  width: 40vw;
  min-height: 200px;

  background-color: colors.$secondary_0;
  animation: fade-in 1s;
  font-family: 'oswald', sans-serif;
  background-color: colors.$success_0;
  border-radius: 3.5em;
  padding: 1em 3em;
  margin: 1.5em;
  box-shadow: 4px 6px 6px colors.$main_-2;
  border: 5px solid colors.$form_highlight;
  display: flex;
  flex-direction: column;
  align-items: center;
  .M {
    color: colors.$male;
  }
  .F {
    color: colors.$female;
  }
  button {
    position: relative;
    top: 2em;
    font-family: 'oswald', sans-serif;
    font-size: 20px;
    border-radius: 1em;
    padding: 0.2em 1.5em;
    transition: transform 80ms ease-in;
    box-shadow: 4px 6px 6px colors.$success_-2;
    &:hover {
      cursor: pointer;
      color: colors.$success_-1;
    }
    &:active {
      transform: scale(0.96);
    }
  }
}
@keyframes fade-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
