@use '../colors';
#player-select-form {
  z-index: 100;
  position: fixed;
  top: 20vh;
  left: 30vw;
  width: 40vw;
  min-height: 200px;

  background-color: colors.$secondary_0;
  animation: fade-in 1s;
  font-family: 'oswald', sans-serif;
  background-color: colors.$success_0;
  border-radius: 3.5em;
  padding: 1em 3em;
  margin: 1.5em;
  box-shadow: 4px 6px 6px colors.$main_-2;
  border: 5px solid colors.$form_highlight;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h1 {
    font-family: 'oswald', sans-serif;
    color: white;
    margin-bottom: 0.5em;
  }
  ul {
    list-style: none;
    align-items: center;
  }
  label {
    font-size: 35px;
    &:hover {
      cursor: pointer;
    }
    input {
      vertical-align: middle;
      margin-right: 1em;
    }
  }

  .M {
    color: colors.$male;
  }
  .F {
    color: colors.$female;
  }
  button {
    margin-top: 2em;
    font-family: 'oswald', sans-serif;
    font-size: 20px;
    border-radius: 1em;
    padding: 0.2em 1.5em;
    transition: transform 80ms ease-in;
    background-color: colors.$light_disabled;
    color: colors.$success_-1;

    &:enabled {
      box-shadow: 4px 6px 6px colors.$success_-2;
      animation-name: pulse;
      animation-iteration-count: infinite;
      animation-duration: 1s;
      &:hover {
        cursor: pointer;
        color: colors.$success_0;
      }
    }

    &:active {
      transform: scale(0.96);
    }
  }
  @media only screen and (max-width: 700px) {
    width: 90%;
    top: 35%;
    left: 5%;
    margin: 0;
    h1 {
      font-size: 20px;
    }
    h2,
    label {
      font-size: 15px;
    }
  }

  @keyframes fade-in {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }

    60% {
      transform: scale(1.07);
    }

    100% {
      transform: scale(1);
    }
  }
}
