@use '../colors';
#timer {
  font-family: 'bungee', sans-serif;
  font-size: 15vw;
  text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.4em;
  width: 1.15em;
  height: 1.15em;
  text-align: center;
}

.__3 {
  color: colors.$alert_-1;
}
.__2 {
  color: colors.$alert_0;
}
.__1 {
  color: colors.$alert_1;
}
