@use '../colors';
#timer {
  position: fixed;
  top: 1em;
  right: 1em;

  h1 {
    background-color: colors.$dark_background;
    padding-bottom: 0.4em;
    text-align: center;
    border-radius: 50%;
    border: 5px solid colors.$form_highlight;
    width: 1.15em;
    height: 1.15em;
    &.__3 {
      color: colors.$success_-1;
      font-size: 15vw;
    }
    &.__2 {
      color: colors.$success_0;
      font-size: 15vw;
    }
    &.__1 {
      color: colors.$success_1;
      font-size: 15vw;
    }
  }
}
