$main_0: #feb062;
$main_1: #ffc081;
$main_2: #ffd6ad;
$main_-1: #f19538;
$main_-2: #ea7d10;

$secondary_0: #71bbff;
$secondary_1: #91c7fa;
$secondary_2: #c6e0f9;
$secondary_-1: #499eec;
$secondary_-2: #3583cb;

$alert_0: #ff4e63;
$alert_1: #ff7888;
$alert_2: #ffacb5;
$alert_-1: #d54657;
$alert_-2: #af4451;

$success_0: #32cebb;
$success_1: #38deca;
$success_2: #84fbec;
$success_-1: #21ad9c;
$success_-2: #009280;

$dark_background: #31323a;
$dark_low-contrast: #494a54;
$dark_high-contrast: #fff;
$dark_secondary: #ede0d2;
$dark_disabled: #525464;

$light_background: #fff;
$light_low-contrast: #ede0d2;
$light_high-contrast: #31323a;
$light_secondary: #494a54;
$light_disabled: #d6d7e0;

$form_background: #f3f3f3;
$logo: #4b4b4b;
